.main-title {
    font-family: 'Dancing Script', cursive;
}

.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}

.intro-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 60px;
}

@media screen and (max-width: 1040px) {
    .intro-img{
        width: 393px;
        height: 800px;
        background-size: cover;
        background-position: center;
        object-fit:cover; 
    }    
    .hero .content {
        align-items: flex-start; 
        margin-top: -45px;
            font-size: 3.3rem;
            padding: 0.6rem 0 1.5rem;
        }
    
}

.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0
    ;
}

.hero{
    height: 100%;
    width: 100%;
}

.hero .content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    text-align: center;
    font-family: 'Quicksand', sans-serif
}

.hero .content h1{
    font-size: 3.3rem;
    padding: 0.6rem 0 1.5rem;
}

.hero .content p{
    font-size: 1.4rem;
    font-weight: 500;
}

.content .btn {
    margin: 1rem 0.2rem;
}
.content .btn-light {
    margin: 1rem 0.4rem;
}